.top{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #0045F3 0%, #454545 126.02%);
  }
  
  .top div{
    width: 50%;
  }
  
  .pfp 
  {
    width:100%;
    float: right;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #FFF;
  }
  .healthySenseLogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .navBar{
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;  
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.10);
  }

  .navButton{
    color: "#979797";
    text-transform:'none';
    border-right: 'none';
  }
  .navButton:hover{
    color: "#2854C3";
  }
