
@media screen and (max-width: 800px) {
    .element .MuiTypography-root{
        font-size: medium !important;
    }

    .element .MuiAvatar-root{
        width: 100px !important;
        height: 100px !important;
    }
    
}